:root {
  --vp-c-brand-1: #3b82f6;
  --vp-c-brand-2: #2563eb;
  --vp-c-brand-3: #1d4ed8;
  --vp-home-hero-name-color: var(--vp-c-brand-1);
  --vp-home-hero-name-background: transparent;
}

.VPButton.brand {
  background-color: var(--vp-c-brand-1);
  border-color: var(--vp-c-brand-1);
}

.VPButton.brand:hover {
  background-color: var(--vp-c-brand-2);
  border-color: var(--vp-c-brand-2);
}

.VPHero .name,
.VPHero .text {
  background: none !important;
  -webkit-text-fill-color: var(--vp-c-brand-1) !important;
  color: var(--vp-c-brand-1) !important;
}

.VPNavBarTitle .title {
  color: var(--vp-c-brand-1);
}

/* .VPNavBarMenuLink.VPNavBarMenuLink {
  color: var(--vp-c-brand-1);
} */

.VPNavBarMenuLink.VPNavBarMenuLink:hover {
  color: var(--vp-c-brand-1);
}

.VPNavBarMenuLink.VPNavBarMenuLink.active {
  color: var(--vp-c-brand-1);
}